.task {
    display: flex;
    margin-left: -30px;
    background: rgb(255, 0, 0);
    justify-content: space-between;
    width: 250px;
    padding: 10px;
}

.task:nth-child(even) {
    background: yellow;
}
