/* body {
    background-color: aquamarine;
    text-align: center;
}
.text {
color: red;
}
.text2 {
    color: black;
}
.text3 {
    color: green;
} */

/* .box1{
    width: 40px;
    height: 40px;
} */
/* .p {
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    text-align: center;
} */